[LOGGING]
LEVEL = info

[MQTT]
TOPIC = sequent_control
SERVER = 192.168.1.1
PORT = 1883
QOS = 1
TIMEOUT = 5
USER = mqttuser
PASS = mqttpass
BIRTH_TOPIC = homeassistant/status

[CARDS]
STACK0 = megaind
STACK1 = megabas
STACK2 = 8relind
STACK3 = 8inputs
STACK4 = rtd
STACK5 =
STACK6 =
STACK7 =


[WATCHDOG]
TIMEOUT = 120
BOOT = 300
RESET = 10


[HEARTBEAT]
TIMEOUT = 300
TOPIC_CHALLENGE = heartbeat/ping
TOPIC_RESPONSE = heartbeat/pong

[RUNTIME]
TELE_INTERVAL = 300
MAX_ERROR = 0
RESTART_DELAY = 15

